﻿@model IEnumerable<cumulative1.Models.Classes>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should be showing information about all classes</p>

<div id="containerlist">
    <h2>List of Classes</h2>
    @foreach (var Classes in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Classes/Show/@Classes.ClassId">@Classes.ClassCode @Classes.TeacherId @Classes.StartDate @Classes.FinishDate @Classes.ClassName</a></div>
        </div>
    }
</div>