﻿@model cumulative1.Models.Classes
@{
    ViewBag.Title = "Show";
}

<a href="/Classes/List">Back To Classes</a>
<div id="containershow">
    <h2>@Model.ClassId @Model.ClassCode @Model.ClassName</h2>
    <p>@Model.TeacherId</p>
    <p>@Model.StartDate</p>
    <p>@Model.FinishDate</p>

</div>


